@charset "UTF-8";

@charset "UTF-8";

body {
	background: linear-gradient(-90deg, #306BE2, #000);
	height: 100%;
}

.grid-container {
	display: grid;
	grid-column-gap: 15px;
	grid-template-columns: auto auto ;
	background-color: linear-gradient(-90deg, #306BE2, #000);
	padding: 10px;
}

.grid-item {
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid rgba(0, 0, 0, 0.8);
}


.title {
	text-transform: uppercase;
	font-family: 'Fredoka One', cursive;
	font-size: 28px;
	padding: 0 15px;
	color: #FFF;
}

.btn {
	background-color: rgba(0, 0, 0, 0.1);
	border: 0; 
	border-radius: 6px;
	color: #ffa500;
	padding: 12px 16px; /* Some padding */
	font-size: 28px; /* Set a font size */
	cursor: pointer; /* Mouse pointer on hover */
	margin-bottom: 30px;
	height: 100%;
	font-weight: bold;
	text-align: left;
	height: 80px;
}

.btn:hover {
	background-color: #FFF;
}