@charset "UTF-8";

body {
	background: linear-gradient(#306BE2, #000) ;
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#content {
	width: 100%;
	max-width: 315px;
	text-align: center;
}

input {
	background: rgba(0, 0, 0, 0.1);
	border: 0;
	border-radius: 4px;
	height: 44px;
	padding: 0 15px;
	color: #fff;
	margin: 0 0 10px;
}

span {
	color: #ffa500;
	align-self: flex-start;
	margin: 0 0 10px;
	font-weight: bold;
}

button {
	margin: 5px 0 0;
	height: 44px;
	background: #3b9eff;
	font-weight: bold;
 	color: #FFF;
 	font-weight: bold;
	border: 0;
	border-radius: 4px;
	font-size: 16px;
	transition: background 0.2s;
}

button:hover {
  background-color: #FFF;
  color: #ffa500;
}

a {
	color: #fff;
	margin-top: 15px;
	font-size: 16px;
	opacity: 0.8;
}

form {
	display: flex;
	flex-direction: column;
	margin-top: 30px;
}