@charset "UTF-8";

i {
	color: black;
}

#customers {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
	margin: 20px;
}

#customers td, #customers th {
	border: 1px solid #ddd;
	padding: 1px;
}

#customers tr {
	background-color: #d4d4d4;
}

#customers tr:hover {
	background-color: #ddd;
}

#customers th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #FC4A1A;
	color: white;
}