<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Go-green</display-name>
	<filter>
		<filter-name>SessionFilter</filter-name>
		<display-name>SessionFilter</display-name>
		<description></description>
		<filter-class>br.com.g4flex.filters.SessionFilter</filter-class>

	</filter>
	<filter-mapping>
		<filter-name>SessionFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>AuthServlet</servlet-name>
		<display-name>AuthServlet</display-name>
		<description></description>
		<servlet-class>br.com.g4flex.servlets.AuthServlet</servlet-class>

	</servlet>
	<servlet>
		<servlet-name>UserServlet</servlet-name>
		<display-name>UserServlet</display-name>
		<description></description>
		<servlet-class>br.com.g4flex.servlets.UserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ActivityServlet</servlet-name>
		<display-name>ActivityServlet</display-name>
		<description></description>
		<servlet-class>br.com.g4flex.servlets.ActivityServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ExtraActivityServlet</servlet-name>
		<display-name>ExtraActivityServlet</display-name>
		<description></description>
		<servlet-class>br.com.g4flex.servlets.ExtraActivityServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PointServlet</servlet-name>
		<display-name>PointServlet</display-name>
		<description></description>
		<servlet-class>br.com.g4flex.servlets.PointServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PresentialCalledServlet</servlet-name>
		<display-name>PresentialCalledServlet</display-name>
		<description></description>
		<servlet-class>br.com.g4flex.servlets.PresentialCalledServlet</servlet-class>
	</servlet>

	<session-config>
		<session-timeout>20</session-timeout>
	</session-config>

	<welcome-file-list>
		<welcome-file>/login.jsp</welcome-file>
	</welcome-file-list>



</web-app>


